# Ignore build output folders
bin/* linguist-vendored
obj/* linguist-vendored

# Ignore Visual Studio temporary & cache files
*.suo linguist-vendored
*.user linguist-vendored
*.cache linguist-vendored
*.log linguist-vendored

# Ignore generated designer files
*.Designer.vb linguist-generated
*.Designer.cs linguist-generated
*.resx linguist-generated

# Ignore settings and resource files from detection
*.settings linguist-detectable=false
*.resources linguist-detectable=false

# Ignore NuGet packages and dependencies
packages/* linguist-vendored
