USE [master]
GO
/****** Object:  Database [QuizzardDB]    Script Date: 15/08/2025 9:44:54 pm ******/
CREATE DATABASE [QuizzardDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuizzardDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuizzardDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuizzardDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuizzardDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuizzardDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuizzardDB]
GO
/****** Object:  Table [dbo].[Characters]    Script Date: 15/08/2025 9:44:55 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Characters](
	[CharacterID] [int] IDENTITY(1,1) NOT NULL,
	[CharacterName] [nvarchar](100) NOT NULL,
	[Theme] [nvarchar](50) NOT NULL,
	[SkillDescription] [nvarchar](255) NOT NULL,
	[QuizziteCost] [int] NOT NULL,
	[SpriteResourceName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CharacterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Decks]    Script Date: 15/08/2025 9:44:55 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decks](
	[DeckID] [int] IDENTITY(1,1) NOT NULL,
	[DeckName] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeckID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enemies]    Script Date: 15/08/2025 9:44:55 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enemies](
	[EnemyID] [int] NOT NULL,
	[EnemyName] [nvarchar](100) NOT NULL,
	[Theme] [nvarchar](50) NOT NULL,
	[SpriteResourceName] [nvarchar](100) NOT NULL,
	[BaseHP] [int] NOT NULL,
	[BaseAttack] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EnemyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerAnsweredQuestions]    Script Date: 15/08/2025 9:44:55 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerAnsweredQuestions](
	[PlayerID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
 CONSTRAINT [PK_PlayerAnsweredQuestions] PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 15/08/2025 9:44:55 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerName] [nvarchar](100) NOT NULL,
	[CurrentLevel] [int] NOT NULL,
	[Quizzite] [int] NOT NULL,
	[ActiveQuestID] [int] NULL,
	[QuestProgress] [int] NOT NULL,
	[PlayerLevel] [int] NOT NULL,
	[CurrentEXP] [int] NOT NULL,
	[EXPToNextLevel] [int] NOT NULL,
	[UnspentSkillPoints] [int] NOT NULL,
	[Stat_Intelligence] [int] NOT NULL,
	[Stat_Focus] [int] NOT NULL,
	[Stat_Resilience] [int] NOT NULL,
	[Stat_Luck] [int] NOT NULL,
	[SelectedCharacterID] [int] NULL,
	[SelectedDeckID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerUnlockedCharacters]    Script Date: 15/08/2025 9:44:55 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerUnlockedCharacters](
	[PlayerID] [int] NOT NULL,
	[CharacterID] [int] NOT NULL,
 CONSTRAINT [PK_PlayerUnlockedCharacters] PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC,
	[CharacterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 15/08/2025 9:44:55 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[DeckID] [int] NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[Answer] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quests]    Script Date: 15/08/2025 9:44:55 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quests](
	[QuestID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Reward] [int] NOT NULL,
	[CompletionType] [nvarchar](50) NOT NULL,
	[CompletionValue] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StageProgress]    Script Date: 15/08/2025 9:44:55 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StageProgress](
	[PlayerID] [int] NOT NULL,
	[StageLevel] [int] NOT NULL,
	[PlayerCurrentHP] [int] NOT NULL,
	[EnemyCurrentHP] [int] NOT NULL,
	[CompensationEXP] [int] NOT NULL,
	[CompensationQuizzite] [int] NOT NULL,
 CONSTRAINT [PK_StageProgress] PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC,
	[StageLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Characters] ON 

INSERT [dbo].[Characters] ([CharacterID], [CharacterName], [Theme], [SkillDescription], [QuizziteCost], [SpriteResourceName]) VALUES (1, N'Noob Wizard', N'Default', N'A promising student with balanced potential.', 0, N'player_noob_wizard')
INSERT [dbo].[Characters] ([CharacterID], [CharacterName], [Theme], [SkillDescription], [QuizziteCost], [SpriteResourceName]) VALUES (2, N'Hexa', N'Default', N'Has a 30% chance to reveal the first 2 characters of the correct answer.', 150, N'player_hexa')
INSERT [dbo].[Characters] ([CharacterID], [CharacterName], [Theme], [SkillDescription], [QuizziteCost], [SpriteResourceName]) VALUES (3, N'Chronomancer', N'Default', N'Extends the question timer by +10 seconds.', 200, N'player_chronomancer')
SET IDENTITY_INSERT [dbo].[Characters] OFF
GO
SET IDENTITY_INSERT [dbo].[Decks] ON 

INSERT [dbo].[Decks] ([DeckID], [DeckName], [Category]) VALUES (1, N'Science Basics', N'Science')
INSERT [dbo].[Decks] ([DeckID], [DeckName], [Category]) VALUES (4, N'Basics of Alchemy', N'Alchemy')
INSERT [dbo].[Decks] ([DeckID], [DeckName], [Category]) VALUES (5, N'Foundational Chemistry', N'Chemistry')
SET IDENTITY_INSERT [dbo].[Decks] OFF
GO
INSERT [dbo].[Enemies] ([EnemyID], [EnemyName], [Theme], [SpriteResourceName], [BaseHP], [BaseAttack]) VALUES (1, N'Gleamgrail', N'Default', N'enemy_dummy', 100, 30)
INSERT [dbo].[Enemies] ([EnemyID], [EnemyName], [Theme], [SpriteResourceName], [BaseHP], [BaseAttack]) VALUES (2, N'Oakenwisp', N'Default', N'enemy_slime_1', 150, 45)
INSERT [dbo].[Enemies] ([EnemyID], [EnemyName], [Theme], [SpriteResourceName], [BaseHP], [BaseAttack]) VALUES (3, N'Granitus', N'Default', N'enemy_mandrake_1', 300, 75)
GO
SET IDENTITY_INSERT [dbo].[Players] ON 

INSERT [dbo].[Players] ([PlayerID], [PlayerName], [CurrentLevel], [Quizzite], [ActiveQuestID], [QuestProgress], [PlayerLevel], [CurrentEXP], [EXPToNextLevel], [UnspentSkillPoints], [Stat_Intelligence], [Stat_Focus], [Stat_Resilience], [Stat_Luck], [SelectedCharacterID], [SelectedDeckID]) VALUES (1, N'Default Player', 1, 0, 2, 0, 1, 0, 150, 0, 5, 5, 5, 5, 1, 4)
SET IDENTITY_INSERT [dbo].[Players] OFF
GO
INSERT [dbo].[PlayerUnlockedCharacters] ([PlayerID], [CharacterID]) VALUES (1, 1)
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionID], [DeckID], [QuestionText], [Answer]) VALUES (2, 1, N'What planet is known as the Red Planet?', N'Mars')
INSERT [dbo].[Questions] ([QuestionID], [DeckID], [QuestionText], [Answer]) VALUES (4, 1, N'What force pulls objects toward the center of the Earth?', N'Gravity')
INSERT [dbo].[Questions] ([QuestionID], [DeckID], [QuestionText], [Answer]) VALUES (8, 4, N'People involved in the practice of alchemy.', N'Alchemists')
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Quests] ON 

INSERT [dbo].[Quests] ([QuestID], [Description], [Reward], [CompletionType], [CompletionValue]) VALUES (1, N'Novice Battler: Win 1 battle.', 20, N'BATTLE_WON', 1)
INSERT [dbo].[Quests] ([QuestID], [Description], [Reward], [CompletionType], [CompletionValue]) VALUES (2, N'Adept Battler: Win 5 battles.', 50, N'BATTLE_WON', 5)
INSERT [dbo].[Quests] ([QuestID], [Description], [Reward], [CompletionType], [CompletionValue]) VALUES (3, N'Streak of Genius: Answer 5 questions correctly in a row.', 30, N'CORRECT_STREAK', 5)
SET IDENTITY_INSERT [dbo].[Quests] OFF
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((1)) FOR [CurrentLevel]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [Quizzite]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [QuestProgress]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((1)) FOR [PlayerLevel]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [CurrentEXP]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((100)) FOR [EXPToNextLevel]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [UnspentSkillPoints]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((5)) FOR [Stat_Intelligence]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((5)) FOR [Stat_Focus]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((5)) FOR [Stat_Resilience]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((5)) FOR [Stat_Luck]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((1)) FOR [SelectedDeckID]
GO
ALTER TABLE [dbo].[StageProgress] ADD  DEFAULT ((0)) FOR [CompensationEXP]
GO
ALTER TABLE [dbo].[StageProgress] ADD  DEFAULT ((0)) FOR [CompensationQuizzite]
GO
ALTER TABLE [dbo].[PlayerAnsweredQuestions]  WITH CHECK ADD  CONSTRAINT [FK_PlayerAnswered_Player] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Players] ([PlayerID])
GO
ALTER TABLE [dbo].[PlayerAnsweredQuestions] CHECK CONSTRAINT [FK_PlayerAnswered_Player]
GO
ALTER TABLE [dbo].[PlayerAnsweredQuestions]  WITH CHECK ADD  CONSTRAINT [FK_PlayerAnswered_Question] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayerAnsweredQuestions] CHECK CONSTRAINT [FK_PlayerAnswered_Question]
GO
ALTER TABLE [dbo].[Players]  WITH NOCHECK ADD  CONSTRAINT [FK_Players_Quests] FOREIGN KEY([ActiveQuestID])
REFERENCES [dbo].[Quests] ([QuestID])
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [FK_Players_Quests]
GO
ALTER TABLE [dbo].[PlayerUnlockedCharacters]  WITH NOCHECK ADD  CONSTRAINT [FK_PUC_Character] FOREIGN KEY([CharacterID])
REFERENCES [dbo].[Characters] ([CharacterID])
GO
ALTER TABLE [dbo].[PlayerUnlockedCharacters] CHECK CONSTRAINT [FK_PUC_Character]
GO
ALTER TABLE [dbo].[PlayerUnlockedCharacters]  WITH CHECK ADD  CONSTRAINT [FK_PUC_Player] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Players] ([PlayerID])
GO
ALTER TABLE [dbo].[PlayerUnlockedCharacters] CHECK CONSTRAINT [FK_PUC_Player]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([DeckID])
REFERENCES [dbo].[Decks] ([DeckID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StageProgress]  WITH CHECK ADD  CONSTRAINT [FK_StageProgress_Players] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Players] ([PlayerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StageProgress] CHECK CONSTRAINT [FK_StageProgress_Players]
GO
USE [master]
GO
